<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Oxygen:wght@700&family=Work+Sans&display=swap" rel="stylesheet"> 
</head>

<body>

    <header>
        <div class="line" id="left"></div>
        <h1>Leaderboard</h1>
        <div class="line" id="right"></div>
    </header>

    <table>
        <!--table heads-->
        <tr>
            <th scope="col" id="c1">Rank</th>
            <th scope="col" id="c2">Name</th>
            <th scope="col" id="c3">Scores</th>
        </tr>


        <!--table datas-->
        {% for data in datas %}
        <tr>
            <td headers="c1">1</td>
            <td headers="c2">{{ data.display_name }}</td>
            <td headers="c3">{{ data.total_score }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td headers="c1">2</td>
            <td headers="c2">bbb</td>
            <td headers="c3">90</td>
        </tr>

        <tr>
            <td headers="c1">3</td>
            <td headers="c2">ccc</td>
            <td headers="c3">80</td>
        </tr>

        <tr>
            <td headers="c1">4</td>
            <td headers="c2">ddd</td>
            <td headers="c3">70</td>
        </tr>

        <tr>
            <td headers="c1">5</td>
            <td headers="c2">eee</td>
            <td headers="c3">60</td>
        </tr>

        <tr>
            <td headers="c1">6</td>
            <td headers="c2">fff</td>
            <td headers="c3">50</td>
        </tr>
    </table>
</body>

</html>